<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Product</h1>
<form action="" >
    <table border="1px">
        <thead>
        <tr>
            <td>Name</td>
            <td>Day</td>
            <td>Adress</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${products}" >
            <td th:text="${row.getName}" ></td>
            <td th:text="${row.getDaystart}" ></td>
            <td th:text="${row.getAddress}" ></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>